section{
    margin-top: 200px;
}


h1 {
    background-color: rgb(192, 129, 35);
    border: 5px solid darkblue;
    color: whitesmoke;
    padding: 0.7em;
    width: 300px;
    font-size: 1.8em;
    text-align: center;
    margin: 2px auto;
    font-weight: lighter;
}

h1:nth-of-type(2n){
    background-color: #e9c46a;
}

section:first-of-type h1:nth-of-type(1){
    transform: rotate(-45deg);
    /* transform-origin: bottom right; */
}
section:first-of-type h1:nth-of-type(2){
    transform: scale(1.2);
}
section:first-of-type h1:nth-of-type(3){
    transform: translate(-100px, -50px);
}
section:first-of-type h1:nth-of-type(4){
    transform: skew(30deg);
}