section{
    width: 500px;
    height: 400px;
    background-color: magenta;
    font-size: 30px;
}

.opacity{
    margin: 10px;
    background-color: yellow;
    opacity: 0.5;
}

.extra {
    background-color: red;
}

.rgba{
    background-color: rgba(255, 255, 255, 0.2);
}