.circle{
    width: 300px;
    height: 300px;
    background-color: magenta;
    transition: all 1s cubic-bezier(.29, 1.01, 1, -0.68);
}

.circle:hover{
    border-radius: 50%;
    background-color: antiquewhite;

}

section div {
    height: 100px;
    width: 100px;
    background-color: tan;
    margin: 20px 0;
    transition: margin-left 2s;
}

section:hover div {
    margin-left: 500px;
}

div:nth-of-type(1){
    transition-timing-function: ease-in;
}
div:nth-of-type(2){
    transition-timing-function: ease-out;
}
div:nth-of-type(3){
    transition-timing-function: cubic-bezier(0.075, 0, 0.82, 0);
}
div:nth-of-type(4){
    transition-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
}